@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #D1D5DB; 
}

.no-scrollbar::-webkit-scrollbar { display: none; } 
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }